.tomc-blue-purple-tie-dye{
    background: radial-gradient(circle at 120% 50%, transparent 20%, #71abb7 31%,
    #71abb7 25%, transparent 35%, transparent),
    radial-gradient(circle at 100% 50%, transparent 20%, #71abb7 31%,
    #71abb7 5%, transparent 99%, transparent);
    background-color: #8d698b;
    background-size: 150px 50px;
    margin-bottom: -50px;
}
#tomc-isbn-unfiled-records-section{
    padding-bottom: 50px;
}
#tomc-isbn-filed-records-section{
    padding-bottom: 50px;
}
#tomc-isbn-unfiled-records-banner{
    width: 90%;
    background: #4c0548;
    border-right: solid #0c6980 5px;
    border-bottom: solid #0c6980 15px;
    border-radius: 0 0 55px 25px;
    padding: 20px 15px;
    box-shadow: 3px 3px 8px #333;
}
#tomc-isbn-unfiled-records-banner h1{
    margin: 10px;
    font-family: tankindred, serif;
    font-size: 54;
    font-weight: 300;
    color: #eee2d4;
    text-shadow: 3px 3px #e44e2d;
}
#tomc-isbn-filed-records-banner{
    width: 90%;
    background: #0c6980;
    border-right: solid #4c0548 5px;
    border-bottom: solid #4c0548 15px;
    border-top: solid #4c0548 5px;
    border-radius: 0 35px 55px 25px;
    padding: 20px 15px;
    box-shadow: 3px 3px 8px #333;
}
#tomc-isbn-filed-records-banner h1, #tomc-isbn-unfiled-records-banner h1{
    margin: 10px;
    font-family: tankindred, serif;
    font-size: 54;
    font-weight: 300;
    color: #eee2d4;
    text-shadow: 3px 3px #e44e2d;
}
#tomc-isbn-get-unfiled-records{
    margin: 30px auto 0px auto;
    padding: 20px 40px;
    background: #4c0548;
    border: solid #eee2d4 5px;
    border-radius: 25px;
    color: #eee2d4;
    font-size: 20;
    width: fit-content;
    cursor: pointer;
    box-shadow: 3px 3px 8px #333;
}
#tomc-isbn-get-filed-records{
    margin: 30px auto 0px auto;
    padding: 20px 40px;
    background: #0c6980;
    border: solid #eee2d4 5px;
    border-radius: 25px;
    color: #eee2d4;
    font-size: 20;
    width: fit-content;
    cursor: pointer;
    box-shadow: 3px 3px 8px #333;
}
.tomc-isbn-record{
    margin: 30px 20px 0px 20px;
    padding: 1px 10px;
    /* background: linear-gradient(to right, #f6f0e9, #fffaf4); */
    background: #f6ece1;
    border-radius: 25px;
    box-shadow: 3px 3px 8px #333;
}
.tomc-purple-isbn-field{
    background: rgba(76, 5, 72, 0.05);
    padding: 10px;
    border-radius: 15px;
}
.tomc-plain-isbn-field{
    padding: 0 10px;
}
.tomc-isbn-submit{
    margin: 30px auto 50px auto;
    padding: 10px 20px;
    background: #e44e2d;
    border: solid #eee2d4 5px;
    border-radius: 25px;
    color: #eee2d4;
    text-shadow: 0px 0px 1px #333;
    font-size: 20;
    display: block;
    width: fit-content;
    cursor: pointer;
    box-shadow: 3px 3px 8px #333;
}
@media screen and (max-width: 480px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 46;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}
@media screen and (max-width: 400px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 42;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}
@media screen and (max-width: 360px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 38;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}
@media screen and (max-width: 320px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 32;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}
@media screen and (max-width: 280px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 28;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}