#tomc-isbn-unfiled-records-section{
    padding-bottom: 50px;
}
#tomc-isbn-filed-records-section{
    padding-bottom: 50px;
}
#tomc-isbn-unfiled-records-banner{
    width: 90%;
    background: #4c0548;
    border-right: solid #0c6980 5px;
    border-bottom: solid #0c6980 15px;
    border-radius: 0 0 55px 25px;
    padding: 20px 15px;
}
#tomc-isbn-unfiled-records-banner h1{
    margin: 10px;
    font-family: tankindred, serif;
    font-size: 54;
    font-weight: 300;
    color: #eee2d4;
    text-shadow: 3px 3px #e44e2d;
}
#tomc-isbn-filed-records-banner{
    width: 90%;
    background: #0c6980;
    border-right: solid #4c0548 5px;
    border-bottom: solid #4c0548 15px;
    border-top: solid #4c0548 5px;
    border-radius: 0 35px 55px 25px;
    padding: 20px 15px;
}
#tomc-isbn-filed-records-banner h1, #tomc-isbn-unfiled-records-banner h1{
    margin: 10px;
    font-family: tankindred, serif;
    font-size: 54;
    font-weight: 300;
    color: #eee2d4;
    text-shadow: 3px 3px #e44e2d;
}
#tomc-isbn-get-unfiled-records{
    margin: 30px auto 0px auto;
    padding: 20px 40px;
    background: #4c0548;
    border: solid #eee2d4 5px;
    border-radius: 25px;
    color: #eee2d4;
    font-size: 20;
    width: fit-content;
    cursor: pointer;
}
#tomc-isbn-get-filed-records{
    margin: 30px auto 0px auto;
    padding: 20px 40px;
    background: #0c6980;
    border: solid #eee2d4 5px;
    border-radius: 25px;
    color: #eee2d4;
    font-size: 20;
    width: fit-content;
    cursor: pointer;
}
.tomc-isbn-record{
    margin: 30px 20px 0px 20px;
    padding: 1px 10px;
    /* background: linear-gradient(to right, #f6f0e9, #fffaf4); */
    background: #f6ece1;
    border-radius: 25px;
}
.tomc-purple-isbn-field{
    background: rgba(76, 5, 72, 0.05);
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
}
.tomc-plain-isbn-field{
    padding: 10px 20px 20px 20px;
    border: solid 5px rgba(76, 5, 72, 0.05);
    
    border-radius: 15px;
}
.tomc-purple-paragraph{
    background: rgba(76, 5, 72, 0.02);
    margin: 0px;
    padding: 5px 0px;
}
.tomc-plain-paragraph{
    margin: 0px;
    padding: 5px 0px;
}
.add-isbn-info-button{
    background-color: #4c0548;
    color: white;
    font-size: 16;
    border-radius: 35px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    width: fit-content;
}
.see-isbn-info-button{
    background-color: #0c6980;
    color: white;
    font-size: 16;
    border-radius: 35px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    width: fit-content;
}
#tomc-isbn-mark-filed{
    background-color: #e44e2d;
    color: white;
    font-size: 16;
    border-radius: 35px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 40px auto;
}
.tomc-isbn-submit{
    margin: 30px auto 50px auto;
    padding: 10px 20px;
    background: #e44e2d;
    border: solid #eee2d4 5px;
    border-radius: 25px;
    color: #eee2d4;
    text-shadow: 0px 0px 1px #333;
    font-size: 20;
    display: block;
    width: fit-content;
    cursor: pointer;
}
@media screen and (max-width: 480px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 46;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}
@media screen and (max-width: 400px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 42;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}
@media screen and (max-width: 360px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 38;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}
@media screen and (max-width: 320px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 32;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}
@media screen and (max-width: 280px){
    #tomc-isbn-unfiled-records-banner h1{
        font-size: 28;
    }
    #tomc-isbn-filed-records-banner h1{
        font-size: 28;
    }
}
#tomc-isbn-edit-info-overlay{
    width: 100%;
}
#tomc-isbn-edit-info-overlay-column-container{
    display: block;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    border-right: solid #f7c340 10px;
    border-top: solid #f7c340 5px;
    border-bottom: solid #f7c340 5px;
    border-radius: 30px;
}
.isbn-info-overlay-column{
    display: block;
    min-width: 300px;
    margin: 0 auto;
    border-left: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;
    border-left: solid #e44e2d 5px;
    border-radius: 20px;
}
@media screen and (min-width: 870px){
    #tomc-isbn-edit-info-overlay-column-container{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-items: start;
        padding: 20px;
        border-left: none;
        border-radius: 20px;
    }
    .isbn-info-overlay-column{
        min-width: 300px;
        margin: 0 20px;
        padding-top: 10px;
        padding-left: 20px;
    }
}
#tomc-isbn-edit-info-overlay label{
    /* text-align: center; */
    /* width: fit-content; */
    /* margin: auto; */
    display: block;
}
#tomc-isbn-edit-info-overlay input[type="text"]{
    width: 280px;
    border-radius: 20px;
    display: block;
    padding: 3px 5px;
    /* margin: auto; */
}
#tomc-isbn-edit-info-overlay input[type="date"]{
    width: 280px;
    border-radius: 20px;
    padding: 3px;
    display: block;
    /* margin: auto; */
}
.isbn-info--textarea{
    width: 280px;
    min-height: 100px;
    border-radius: 10px;
    display: block;
    padding: 3px;
    word-wrap: normal;
    /* margin: auto; */
}
#tomc-isbn-edit-info-overlay select{
    width: 280px;
    border-radius: 10px;
    padding: 3px;
    display: block;
    /* margin: auto; */
    /* text-align: center; */
}
.isbn-radio-option{
    width: fit-content;
    /* margin: 5px auto; */
}
.isbn-radio-label, .isbn-radio-yes, .isbn-radio-no{
    display: inline !important;
}
#isbn-view--container img{
    max-width: 300px;
    height: auto;
    margin: auto;
    display: block;
}